/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .dr-sara-covid-page{
     background: #fff;
    width: 100%;
    padding:15px;
 }
 .dr-sara-covid-box{
     border: 1px solid #333;
    padding:14px;
    margin: 0.5%;
    display: inline-block;
 }
 .dr-sara-covid-box:hover{
     background: #333;
     color: #ffffff;
     transition: 0.3s ease-in;
 }